@model Bank_of_Simba.ViewModel.BankAccountViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <table style="width: 100%; color: blueviolet ">
        @foreach (var account in @Model.BankAccountList)
        {
            <tr>
                <td>Name: @account.Name</td>
                <td>Balance: @account.Balance @account.Currency</td>
                <td>AnimalType: @account.AnimalType</td>
                @if (account.Owner.Equals("King"))
                {
                    <td style="width: 25%; background: yellow">Owner: @account.Owner</td>
                }
                else
                {
                    <td>Owner: @account.Owner</td>
                }
                @if (account.GuyType.Equals(true))
                { 
                    <td>Good one</td>
                }
                else
                {
                    <td>Bad guy</td>
                }
                @*
                @switch (account.GuyType)
                {
                    case true:
                    <td>Good one</td>
                    break;
                    case false:
                    <td>Bad guy</td>
                    break;
                }
                *@
                <td>Index: @Model.BankAccountList.IndexOf(account)</td>
            </tr>
        }
    </table>
    <form action="/Simba" method="post">
        <input type="submit" value="Submit">
    </form>
    <form action="/add" method="post">
        Name:
        <input type="text" name="Name" value="">
        <br />
        Balance:
        <input type="text" name="Balance" value="">
        <br />
        Currency:
        <input type="text" name="Currency" value="">
        <br />
        AnimalType:
        <input type="text" name="AnimalType" value="">
        <br />
        Owner:
        <input type="text" name="Owner" value="">
        <br />
        GuyType:
        <input type="text" name="GuyType" value="">
        <br />
        <input type="submit" value="Add new list element">
    </form>
</body>
</html>
