@model Bank_of_Simba.ViewModel.BankAccountViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @foreach (var account in @Model.BankAccountList)
    {
        <p>Name: @account.Name</p>
        <p>Balance: @account.Balance @account.Currency</p>
        <p>AnimalType: @account.AnimalType</p>
    }
</body>
</html>
