@model Bank_of_Simba.ViewModel.BankAccountViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var account in @Model.BankAccountList)
        {
            <tr>
                <td>Name: @account.Name</td>
                <td>Balance: @account.Balance @account.Currency</td>
                <td>AnimalType: @account.AnimalType</td>
                <td>Index: @Model.BankAccountList.IndexOf(account)</td>
            </tr>
        }
    </table>

</body>
</html>
