@model List<ListingToDos.Models.ToDo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo CRUD App</title>
</head>
<body>
    <h1>Todos for today</h1>
    <p><a href="/todo/add">Add new todo</a></p>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>IsDone</th>
                <th>IsUrgent</th>
            </tr>
        </thead>
        <tbody>
            @{foreach (var element in Model)
            {
                    <tr>
                        @*<td>@element.Id</td>*@
                        <td>@Model.IndexOf(element)</td>
                        <td>@element.Title</td>
                        <td>@element.IsDone</td>
                        <td>@element.IsUrgent</td>
                        <td><a href="/@element.Id/delete/">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</body>
</html>
