@model List<ListingToDos.Models.ToDo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo CRUD App</title>
</head>
<body>
    <h1>Todos for today</h1>

    <form action="/search" method="post">
        <p>Search:</p>
        <input type="text" name="Title" value="">
        <input type="submit" value="Search">
    </form>

        <p><a href="/todo/add">Add new todo</a></p>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>IsDone</th>
                    <th>IsUrgent</th>
                    <th>Date</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var element in Model)
            {
                        <tr>
                            <td>@element.ToDoId</td>
                            <td>@element.Title</td>
                            <td>@element.IsDone</td>
                            <td>@element.IsUrgent</td>
                            <td>@element.Date</td>
                            <td><a href="/@element.User.UserId/useritems">@element.User.Name </a></td>
                            <td><a href="/@element.ToDoId/delete/">Delete</a></td>
                            <td><a href="/@element.ToDoId/edit/">Edit</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

</body>
</html>
